.icon {
  position: relative;
  display: block;
  background: url(../images/icon.png) 0 0 no-repeat;
  opacity: .35;
  filter: alpha(opacity=35);
}
.i-home {
  width: 17px;
  height: 15px;
  background-position: -8px -8px;
}
.i-earth {
  width: 16px;
  height: 16px;
  background-position: -40px -8px;
}
.i-database {
  width: 16px;
  height: 16px;
  background-position: -72px -8px;
}
.i-gear {
  width: 15px;
  height: 15px;
  background-position: -105px -9px;
}
.i-power {
  width: 12px;
  height: 13px;
  background-position: -139px -10px;
}
.i-target {
  width: 17px;
  height: 16px;
  background-position: -168px -8px;
}
.i-bin {
  width: 13px;
  height: 17px;
  background-position: -202px -8px;
}
.i-lock {
  width: 13px;
  height: 15px;
  background-position: -235px -9px;
}
.i-shop {
  width: 12px;
  height: 14px;
  background-position: -266px -9px;
}
.i-folder {
  width: 16px;
  height: 13px;
  background-position: -296px -11px;
}
.i-folder-open {
  width: 17px;
  height: 13px;
  background-position: -329px -11px;
}
.i-folder-plus {
  width: 16px;
  height: 13px;
  background-position: -360px -11px;
}
.i-folder-minus {
  width: 16px;
  height: 13px;
  background-position: -392px -11px;
}
.i-folder-upload {
  width: 17px;
  height: 13px;
  background-position: -424px -11px;
}
.i-folder-download {
  width: 16px;
  height: 13px;
  background-position: -456px -11px;
}
.i-file {
  width: 15px;
  height: 17px;
  background-position: -490px -8px;
}
.i-image {
  width: 16px;
  height: 14px;
  background-position: -521px -9px;
}
.i-music {
  width: 17px;
  height: 17px;
  background-position: -550px -9px;
}
.i-film {
  width: 16px;
  height: 12px;
  background-position: -585px -11px;
}
.i-images {
  width: 19px;
  height: 17px;
  background-position: -616px -10px;
}
.i-video {
  width: 15px;
  height: 10px;
  background-position: -649px -13px;
}
.i-camera {
  width: 17px;
  height: 13px;
  background-position: -681px -10px;
}
.i-print {
  width: 17px;
  height: 14px;
  background-position: -712px -10px;
}
.i-cloud {
  width: 17px;
  height: 9px;
  background-position: -744px -12px;
}
.i-truck {
  width: 17px;
  height: 13px;
  background-position: -776px -11px;
}
.i-vifi {
  width: 14px;
  height: 15px;
  background-position: -809px -10px;
}
.i-flickr {
  width: 14px;
  height: 4px;
  background-position: -842px -15px;
}
.i-eyedrop {
  width: 16px;
  height: 16px;
  background-position: -873px -9px;
}
.i-droplet {
  width: 12px;
  height: 16px;
  background-position: -906px -9px;
}
.i-search {
  width: 17px;
  height: 17px;
  background-position: -8px -40px;
}
.i-checkmark {
  width: 15px;
  height: 11px;
  background-position: -41px -43px;
}
.i-cross {
  width: 12px;
  height: 11px;
  background-position: -74px -43px;
}
.i-plus {
  width: 12px;
  height: 13px;
  background-position: -107px -42px;
}
.i-minus {
  width: 13px;
  height: 2px;
  background-position: -137px -48px;
}
.i-list {
  width: 15px;
  height: 10px;
  background-position: -169px -44px;
}
.i-grid {
  width: 14px;
  height: 14px;
  background-position: -202px -42px;
}
.i-dot {
  width: 13px;
  height: 12px;
  background-position: -234px -43px;
}
.i-radio-unchecked {
  width: 15px;
  height: 15px;
  background-position: -265px -41px;
}
.i-radio-checked {
  width: 15px;
  height: 15px;
  background-position: -297px -41px;
}
.i-checkbox-unchecked {
  width: 15px;
  height: 14px;
  background-position: -328px -42px;
}
.i-checkbox-checked {
  width: 15px;
  height: 14px;
  background-position: -361px -42px;
}
.i-blocked {
  width: 16px;
  height: 17px;
  background-position: -393px -41px;
}
.i-qrcode {
  width: 15px;
  height: 15px;
  background-position: -424px -42px;
}
.i-barcode {
  width: 16px;
  height: 12px;
  background-position: -456px -44px;
}
.i-display {
  width: 17px;
  height: 14px;
  background-position: -488px -42px;
}
.i-laptop {
  width: 16px;
  height: 12px;
  background-position: -521px -43px;
}
.i-mobile {
  width: 10px;
  height: 17px;
  background-position: -555px -41px;
}
.i-mobile-big {
  width: 11px;
  height: 17px;
  background-position: -587px -41px;
}
.i-tv {
  width: 17px;
  height: 17px;
  background-position: -616px -39px;
}
.i-apple {
  width: 14px;
  height: 17px;
  background-position: -650px -40px;
}
.i-android {
  width: 14px;
  height: 17px;
  background-position: -682px -40px;
}
.i-window {
  width: 15px;
  height: 16px;
  background-position: -712px -41px;
}
.i-cogs {
  width: 17px;
  height: 17px;
  background-position: -744px -41px;
}
.i-mail {
  width: 15px;
  height: 10px;
  background-position: -778px -44px;
}
.i-connect {
  width: 20px;
  height: 20px;
  background-position: -807px -44px;
}
.i-more {
  width: 14px;
  height: 15px;
  background-position: -846px -41px;
}
.i-book {
  width: 14px;
  height: 16px;
  background-position: -874px -41px;
}
.i-card {
  width: 16px;
  height: 12px;
  background-position: -905px -43px;
}
.i-carat-up {
  width: 16px;
  height: 10px;
  background-position: -8px -77px;
}
.i-carat-down {
  width: 16px;
  height: 10px;
  background-position: -40px -77px;
}
.i-carat-left {
  width: 10px;
  height: 16px;
  background-position: -76px -73px;
}
.i-carat-right {
  width: 10px;
  height: 16px;
  background-position: -108px -73px;
}
.i-triangle-down {
  width: 12px;
  height: 7px;
  background-position: -138px -77px;
}
.i-triangle-up {
  width: 13px;
  height: 7px;
  background-position: -170px -77px;
}
.i-triangle-left {
  width: 7px;
  height: 13px;
  background-position: -204px -74px;
}
.i-triangle-right {
  width: 7px;
  height: 13px;
  background-position: -237px -74px;
}
.i-refresh {
  width: 15px;
  height: 15px;
  background-position: -266px -74px;
}
.i-back {
  width: 12px;
  height: 15px;
  background-position: -298px -74px;
}
.i-forward {
  width: 12px;
  height: 15px;
  background-position: -331px -74px;
}
.i-share {
  width: 14px;
  height: 15px;
  background-position: -362px -73px;
}
.i-loop {
  width: 16px;
  height: 17px;
  background-position: -392px -73px;
}
.i-arrow-left-up {
  width: 12px;
  height: 12px;
  background-position: -427px -75px;
}
.i-arrow-up {
  width: 12px;
  height: 14px;
  background-position: -458px -74px;
}
.i-arrow-right-up {
  width: 12px;
  height: 12px;
  background-position: -490px -75px;
}
.i-arrow-down {
  width: 12px;
  height: 14px;
  background-position: -523px -74px;
}
.i-arrow-right-down {
  width: 12px;
  height: 12px;
  background-position: -553px -75px;
}
.i-arrow-left-down {
  width: 12px;
  height: 12px;
  background-position: -587px -75px;
}
.i-arrow-left {
  width: 14px;
  height: 12px;
  background-position: -618px -75px;
}
.i-arrow-right {
  width: 14px;
  height: 12px;
  background-position: -649px -75px;
}
.i-undo {
  width: 14px;
  height: 17px;
  background-position: -682px -73px;
}
.i-out {
  width: 14px;
  height: 17px;
  background-position: -713px -73px;
}
.i-redo {
  width: 14px;
  height: 17px;
  background-position: -745px -73px;
}
.i-in {
  width: 14px;
  height: 17px;
  background-position: -778px -73px;
}
.i-podcast {
  width: 16px;
  height: 14px;
  background-position: -809px -74px;
}
.i-chain {
  width: 16px;
  height: 17px;
  background-position: -841px -73px;
}
.i-kit {
  width: 17px;
  height: 15px;
  background-position: -872px -73px;
}
.i-feed {
  width: 16px;
  height: 16px;
  background-position: -905px -72px;
}
.i-user {
  width: 14px;
  height: 13px;
  background-position: -9px -106px;
}
.i-user-plus {
  width: 16px;
  height: 16px;
  background-position: -40px -104px;
}
.i-user-minus {
  width: 16px;
  height: 16px;
  background-position: -72px -104px;
}
.i-user-check {
  width: 16px;
  height: 16px;
  background-position: -104px -104px;
}
.i-users {
  width: 18px;
  height: 16px;
  background-position: -135px -104px;
}
.i-sports {
  width: 14px;
  height: 16px;
  background-position: -169px -104px;
}
.i-male {
  width: 5px;
  height: 16px;
  background-position: -205px -104px;
}
.i-female {
  width: 9px;
  height: 16px;
  background-position: -235px -104px;
}
.i-call {
  width: 15px;
  height: 15px;
  background-position: -265px -105px;
}
.i-hang {
  width: 16px;
  height: 7px;
  background-position: -296px -109px;
}
.i-chat {
  width: 17px;
  height: 15px;
  background-position: -328px -105px;
}
.i-chats {
  width: 18px;
  height: 16px;
  background-position: -360px -105px;
}
.i-speech {
  width: 9px;
  height: 16px;
  background-position: -396px -105px;
}
.i-star {
  width: 15px;
  height: 13px;
  background-position: -424px -106px;
}
.i-heart {
  width: 16px;
  height: 15px;
  background-position: -457px -108px;
}
.i-tag {
  width: 10px;
  height: 16px;
  background-position: -492px -105px;
}
.i-tags {
  width: 12px;
  height: 16px;
  background-position: -523px -105px;
}
.i-edit {
  width: 15px;
  height: 14px;
  background-position: -554px -106px;
}
.i-view {
  width: 15px;
  height: 10px;
  background-position: -586px -108px;
}
.i-location {
  width: 10px;
  height: 16px;
  background-position: -619px -105px;
}
.i-compass {
  width: 13px;
  height: 14px;
  background-position: -649px -108px;
}
.i-audio {
  width: 15px;
  height: 15px;
  background-position: -682px -105px;
}
.i-listen {
  width: 17px;
  height: 17px;
  background-position: -712px -105px;
}
.i-alarm {
  width: 14px;
  height: 17px;
  background-position: -745px -105px;
}
.i-stopwatch {
  width: 13px;
  height: 17px;
  background-position: -778px -105px;
}
.i-attach {
  width: 15px;
  height: 17px;
  background-position: -810px -104px;
}
.i-code {
  width: 16px;
  height: 10px;
  background-position: -841px -108px;
}
.i-cart {
  width: 20px;
  height: 20px;
  background-position: -871px -104px;
}
.i-lab {
  width: 16px;
  height: 16px;
  background-position: -904px -105px;
}
